@import './basil.css';

/* @custom-variant hidden (&:is([hidden])); */
/*
    collapsed: '&:is([aria-collapsed=true], [data-collapsed], [data-state="collapsed"])',
    current: '&:is([data-current])',
    hidden: '&:is([hidden])',
    hover: ['@media (hover: hover) and (pointer: fine)', '&:is(:hover, [data-hover])'],
    indeterminate:
      '&:is(:indeterminate, [data-indeterminate], [aria-checked=mixed], [data-state=indeterminate])',
    off: '&:is([data-state="off"])',
    on: '&:is([data-state="on"])',
    today: '&:is([data-today])',
    underValue: '&:is([data-state="under-value"])',
    dark: '.dark &',
      open: '&:is([open], [data-open], [data-state="open"])',
  closed: '&:is([closed], [data-closed], [data-state="closed"])',
    light: ':root &, .light &',
    invalid: '&:is([aria-invalid])',*/

@layer base {
  :root {
    /* Brand colors */
    --ui-color-basil: hsl(151, 51%, 50%);
    --ui-color-basil-foreground: var(--ui-color-dark-0);
    --ui-color-basil-subtle: hsl(151, 51%, 60%);
    --ui-color-basil-strong: hsl(151, 51%, 40%);
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
    min-width: 300px;
  }

  p a {
    @apply var(--ui-color-basil);
  }

  p a:hover {
    @apply var(--ui-color-basil-strong);
  }
}
